{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html{
            background-color: #f1f1f1;
            font-family: 'Lato', sans-serif;
        }

        .title{
            text-align: center;
            width:540px;
            margin: 0 auto;
        }

        .card {
            margin-top: 5%;
        }

        .demo-component-width {
            width: 536px;
        }

        .row .mdc-textfield {
            margin-top: 0;
        }

        ul {
            margin-top:0;
            padding:0;
            width: 240px;
            list-style:none;
        }

        ul > li {
            color: #d50000;
            font-size: .75rem;
        }

        .mdc-layout-grid {
            width: 568px;
        }

        .submit {
            margin-top: 10px;
            width:536px;
        }

        input {
            width: 100%;
        }

        /* unvisited link */
        a:link {
            color: black;
        }

        /* visited link */
        a:visited {
            color: black;
        }

        /* mouse over link */
        a:hover {
            color: black;
        }

        /* selected link */
        a:active {
            color: black;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="title"><h4>A Demo Of <a href="https://medium.com/@weiyi.li713/integrate-web-application-with-external-systems-by-using-message-queue-ac201469c02d" target="_blank">Web Application Integration</a></h4></div>
    </div>
    <div class="mdc-layout-grid">
        <div class="row">
                {{ form_start(form) }}

                <div class="demo-component-width no-margin-top mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                    {{ form_widget(form.username, {'attr': {'class':'mdc-textfield__input'}}) }}
                    {{ form_label(form.username) }}
                </div>
                {{ form_errors(form.username) }}
                <p id="username-helptext" class="demo-component-width no-margin-top mdc-textfield-helptext mdc-textfield-helptext mdc-textfield-helptext--validation-msg" aria-hidden="true">
                    Username is required
                </p>


                <div class="demo-component-width no-margin-top mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                    {{ form_widget(form.email,  {'attr': {'class':'mdc-textfield__input'}})}}
                    {{ form_label(form.email)}}
                </div>
                {{ form_errors(form.email) }}
                <p id="email-helptext" class="demo-component-width no-margin-top mdc-textfield-helptext mdc-textfield-helptext mdc-textfield-helptext--validation-msg" aria-hidden="true">
                    Email is required
                </p>

                <button type="submit" data-mdc-auto-init="MDCRipple" class="submit mdc-button mdc-button--raised mdc-button--primary">Save</button>
                {{ form_end(form) }}
        </div>
    </div>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <div class="mdc-card card">
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">Confirmation Queue</h1>
                    <h2 class="mdc-card__subtitle">Users to be processed</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    {% for confirmation in confirmation_queue %}
                        <div><strong>{{ confirmation.username }}</strong></div>
                    {% endfor %}
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-button--compact mdc-card__action"> <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>Processing</button>
                </section>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <div class="mdc-card card">
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">Mailchimp Queue</h1>
                    <h2 class="mdc-card__subtitle">Users to be processed</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    {% for mailchimp in mailchimp_queue %}
                        <div><strong>{{ mailchimp.username }}</strong></div>
                    {% endfor %}
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-button--compact mdc-card__action"> <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>Processing</button>
                </section>
            </div>
        </div>
    </div>


{% endblock %}